

.task-list {
    margin-top: 20px;
  }
  
  .task-list ul {
    display: flex;
   
    list-style-type: none;
    padding: 0;
  }
  
  .task-list li {
    background-color: #f9f9f9;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .task-list li span {
    display: block;
    margin-bottom: 5px;
  }
  
  .task-list li span:first-child {
    font-weight: bold;
  }
  
  .task-list li span:last-child {
    color: #666;
  }
  